
h1{
    color: blue;
    font-size: large;
    text-align: center;
}

#work{
    float: left;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px; 
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    
}
.caption{
    color: blue;
    background-color: springgreen;
    text-align: center;
    margin-block: 20px;
    padding-block: 30px;
    font-size: larger;
}

h2{
    color: blue;
    text-align: center;
    font-size: larger;
}
.image-container{
    display: flex;
    justify-content: center;
    gap: 80px;
    border-radius: 50%;
}

img{
    border-radius:  70%;
    object-fit: cover;
    border: 5px solid springgreen;
    
}


h3{
    color: blue;
    text-align: center;
    font-size: larger;
}
h4{
    color: blue;
    text-align: center;
    font-size: larger;
}
h5{
    color: blue;
    text-align: center;
    font-size: larger;
}
h6{
    color: blue;
    text-align: center;
    font-size: larger;
}
h6{
    color: blue;
    text-align: center;
    font-size: larger;
}
.header{
    text-align: left;
    color: black;
}




table, th, td {
    border: 1px solid black;

}
table {
    border-spacing: 10px;
    border-collapse: collapse;
    
}
th{
    background-color: springgreen;
    text-align: center;
    color: red;

}
span{
    color:red;
}
footer{
    text-align: right;
    color: black;
}
hr{
    border: none;
    height: 5px;
    width: 100%;
    background-color: #3498db;
}


